body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: GradientShift 15s ease infinite;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

@keyframes GradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  align-items: center;
}

h1 {
  margin-top: 10px;
  font-size: 2.5em;
  color: #ffffff;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .clock {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
} */

.clock {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  background-color: #333;
}

.day-hand {
  width: 20px;
  height: 110px;
  background-color: #EA4335;
}

.hour-hand {
  width: 10px;
  height: 90px;
  background-color: #FBBC05;
}

.minute-hand {
  width: 4px;
  height: 70px;
  background-color: #34A853;
}

.second-hand {
  width: 2px;
  height: 50px;
  background-color: #4285F4;
}

.countdown {
  display: flex;
  margin-top: 20px;
}

.time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  font-size: 20px;
}

.time-unit span {
  color: #fff;
  transition: color 0.5s ease;
}

.time-unit span:hover {
  color: #f0e;
}

span {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .clock {
    width: 200px;
    height: 200px;
  }

  .time-unit {
    font-size: 16px;
  }
}